/*Homepage CSS ...*/

.pet-logo-size {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.w-15 {
    width: 15% !important;
}

.bg-green {
    color: green;
}

.bg-orange {
    color: orange;
}

.bg-red {
    color: red;
}

.search-bar-size {
    max-width: 250px;
    width: 100%;
}

.hover-effect:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hover-effect {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.img-class-style {
    height: 150px;
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

@media (max-width: 897px) {
    .custom-button-group {
        flex-direction: column !important;
        align-items: stretch;
    }

    .custom-button-group button {
        width: 100% !important;
    }
}

.mood-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.mood-label {
    margin-right: 0.5rem;
}

@media (max-width: 897px) {
    .mood-container {
        flex-direction: column;  /* Stack Mood label above the pet mood */
        align-items: flex-start; /* Align items to start */
    }

    .mood-label {
        margin-bottom: 0.5rem; /* Add some space between the label and the mood */
    }
}

.custom-input::placeholder {
    color: white;
    opacity: 1; /* Optional: ensures full visibility */
}

.btn-custom {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: white;
    border: none;
}

.btn-custom:hover {
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}

/*Add Pet Page CSS ...*/

.pet-image-size {
    height: 150px;
    width: 150px;
}

.w-40 {
    width: 40% !important;
}

/*Profile Page CSS ...*/

.btn-orange {
    background-color: orangered;
}

.bg-blue {
    background-color: #2D4373;
}

/*Identify Suitable Pet Page*/
.pet-img-size {
    height: 250px;
    width: 250px;
}

.w-40 {
    width: 40% !important;
}